<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>This is header</h1>
    <li>
        <ul>home</ul>
        <a href="contact.ejs">contact us</a>

    </li>
</body>

</html>